@import url(root.css);

#header {
    -fx-background-color: -bg1;
}

#header .label {
    -fx-text-fill: -fg1;
}

#footer .button {
    -fx-background-color: -bg1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: -fg1;
}

#MAPA_ICON {
    -fx-image: url("assets/mapa-icon.png");
}

#HORARIOS_ICON {
    -fx-image: url("assets/horarios-icon.png");
}

#FAVORITOS_ICON {
    -fx-image: url("assets/favoritos-icon.png");
}

#MAIS_ICON {
    -fx-image: url("assets/mais-icon.png");
}